html, body {
	height:100%;
}
body {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #3BB3C3 url("../images/bg-home.jpg");
	background-repeat: no-repeat;
}
#header{
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 20px;
}
#header h1{
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	background: #801d77;
}
#navigation {
	margin-top: 7px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 37px;
	padding: 0 0 0 20px;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 72px;
	padding: 10px 0px 5px 0px;
	margin-top: 32px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 17px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: #802D77;
	margin: 3px 0px;

} 


.panel3{
	width: 98%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	height: 1024px;
}
.panel3:target{
	margin-left: 0%;
	background-color: #c3ba3b;}
	
.panel2{
	width: 98%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	height: 1024px;
}
.panel2:target{
	margin-left: 0%;
	background-color: #3b71c3;}
	
.panel{
	width: 98%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	height: 1024px;
}
.panel:target{
	margin-left: 0%;
	background-color: #b1e583;
}
#home:target ~ #header #navigation #link-home,
#clinica:target ~ #header #navigation #link-clinica,
#atendimentos:target ~ #header #navigation #link-atendimentos,
#comida-saudavel-nutricao:target ~ #header #navigation #link-comida-saudavel-nutricao,
#balanceamento-muscular:target ~ #header #navigation #link-balanceamento-muscular,
#mov-reiki-taro:target ~ #header #navigation #link-mov-reiki-taro,
#yoga-pilates-tai-chi-chuan:target ~ #header #navigation #link-yoga-pilates-tai-chi-chuan,
#massoterapia-reflexoterapia:target ~ #header #navigation #link-massoterapia-reflexoterapia,
#iridologia-fitoterapia:target ~ #header #navigation #link-iridologia-fitoterapia,
#acupuntura-medicina-indiana:target ~ #header #navigation #link-acupuntura-medicina-indiana,
#psicoterapia-patchwork:target ~ #header #navigation #link-psicoterapia-patchwork {
	background: white;
	background: rgba(255, 255, 255, 0.9);
	color: #801D77;
	border: solid #801D77;
}
#works {
	padding: 0 0 10px 0px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 290px;
	white-space: nowrap;
	margin: 5px 0;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
	margin-right: 3px;
}
#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}
#googleplus {
	float: right;
	margin: -52px 0 0 0;
	position: fixed;
	z-index: 2000;
	top: 72px;
	right: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	background: #801d77;
	color: #fff;
	padding: 2px 4px;
}